/* ------------- All Elements ------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inknut Antiqua', serif;
}

/* ------------- Main Container ------------- */
.main-container {
  background-color: #8fabd6;
  height: 100vh;
  display: auto;
  overflow: hidden;
}

.logout-btn {
  position: absolute;
  bottom: 11px;
  right: 11px;
  border-style: none;
  background-color: rgb(151, 29, 29);
}

/* ------------- Form Styling ------------- */

#login-form {
  display: block;
}

.form-container {
  margin: auto;
  width: 650px;
  padding: 50px;
}

.form-features {
  background-color: #fff;
  padding: 20px 30px;
  color: #365c96;
  text-align: center;
  border-radius: 25px;
  box-shadow: 1px 2px 2px 1px #5681c2;
}

.form-features p {
  font-size: 15px;
  font-style: italic;
}

.form-features .fa-question-circle {
  font-size: 50px;
  padding: 15px;
  background-color: #fff;
  color: #223a5e;
}

.form-features .fa-check-circle {
  font-size: 50px;
  padding: 15px;
  background-color: #fff;
  color: green;
}

.form-features .fa-exclamation-circle {
  font-size: 50px;
  padding: 15px;
  background-color: #fff;
  color: red;
}

.form-features button {
  background-color: #365c96;
  border: 0;
}

.form-features button:hover {
  background-color: #5681c2;
}

/* Some styling & positioning for below classes (e.g. icon-*)) was borrowed from this flexbox code - https://codepen.io/imohkay/pen/QwjwwY/ */
.icon-wrap-name {
  border: 1px solid #365c96;
  display: flex;
  flex-direction: row;
}

.icon-wrap-pass {
  border: 1px solid #365c96;
  display: flex;
  flex-direction: row;
}

.iconWrapBorderColor {
  border: 2px solid #365c96;
}

.input-icon-name {
  background-color: #365c96;
  color: #fff;
}

.input-icon-pass {
  background-color: #365c96;
  color: #fff;
}

.input-with-icon-name {
  border: none;
  flex: 1;
}

.input-with-icon-pass {
  border: none;
  flex: 1;
}

.input-icon-name,
.input-with-icon-name {
  padding: 10px;
}

.input-icon-pass,
.input-with-icon-pass {
  padding: 10px;
}

.form-control {
  border: 0;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
  color: #5681c2;
  font-style: italic;
  opacity: 0.5;
}

.form-check {
  padding: 7px;
}

#errors {
  color: rgb(218, 19, 19);
}

.correct {
  color: green;
  font-weight: bold;

}

.incorrect {
  color: rgb(218, 19, 19);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .form-container {
    margin: auto;
    width: 325px;
    padding: 25px;
  }

  .form-features p {
    font-size: 10px;
    font-style: italic;
  }
}

/* Remove blue background color from input - https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

/* ------------- Quiz Section ------------- */

#question {
  font-weight: bold;
}

.fa-trophy {
  font-size: 50px;
  padding: 15px;
  background-color: #fff;
  color: green;
}

.fa-sad-tear {
  font-size: 50px;
  padding: 15px;
  background-color: #fff;
  color: rgb(218, 19, 19);
}

.end-p {
  font-size: 25px;
  padding: 3px;
}

.progress-bar {
  width: 100%;
  height: 2rem;
  border: 0.3rem solid #5681c2;
  margin-top: 1.5rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 25px;

}

.progress-bar-complete {
  height: 1.4rem;
  background-color: #5681c2;
  width: 0%;
  border-radius: 25px;
}

.success-progress-bar {
  width: 100%;
  height: 2rem;
  border: 0.3rem solid green;
  margin-top: 1.5rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 25px;

}

.success-progress-bar-complete {
  height: 1.4rem;
  background-color: green;
  width: 0%;
  border-radius: 25px;
}

.fail-progress-bar {
  width: 100%;
  height: 2rem;
  border: 0.3rem solid rgb(218, 19, 19);
  margin-top: 1.5rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 25px;

}

.fail-progress-bar-complete {
  height: 1.4rem;
  background-color: rgb(218, 19, 19);
  width: 0%;
  border-radius: 25px;
}
