/* ------------- All Elements ------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* ------------- Main Container ------------- */
.main-container {
  background-color: #c7d5eb;
  height: 100vh;
  display: auto;
  overflow: hidden;
}

/* ------------- Form Styling ------------- */

.form-container {
  margin: auto;
  width: 650px;
  padding: 50px;
}

.form-features {
  background-color: #fff;
  padding: 20px 30px;
  color: #365c96;
  text-align: center;
}

.form-features p {
  font-size: 15px;
  font-style: italic;
}

.form-features i {
  font-size: 50px;
  padding: 15px;
  background-color: #fff;
  color: #5681c2;
}

/* Some styling for icon style/positioning was borrowed from this flexbox code - https://codepen.io/imohkay/pen/QwjwwY/ */
/* From https://codepen.io/imohkay/pen/QwjwwY/ */
.icon-wrap {
  border: 1px solid #eef2f9;
  display: flex;
  flex-direction: row;
}

.iconWrapBorderColor {
  border: 1px solid #8fabd6;
}

/* From https://codepen.io/imohkay/pen/QwjwwY/ */
.input-icon {
  background-color: #8fabd6;
  color: #fff;
}

/* From https://codepen.io/imohkay/pen/QwjwwY/ */
.input-with-icon {
  border: none;
  flex: 1;
}

/* From https://codepen.io/imohkay/pen/QwjwwY/ */
.input-icon,
.input-with-icon {
  padding: 10px;
}

.form-control {
  border: 0;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}
